body{
  font-family: 'Lato', sans-serif;
  margin: auto;
  max-width: 900px;
  color: #424279;
  background-color:#d7deeb;
}

h1 {
  color: #1C7ABF;
  font-family: 'Lobster Two', cursive;
  font-size: 1.5cm;
  margin: 0px;
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: rgb(209, 239, 253);
  border-radius: 3px;
  margin: 0px;
}

.summary, h5, .edu {
  padding: 0.5em;
  margin: 0px;
}

.prj{
  position: relative;
  display: inline-block;
}

.prj-content{
  z-index: 10;
}

.overlay{
  display:none;
}
.prj:hover .overlay{
  width:100%;
  height:100%;
  position:absolute;
  opacity: 100%;
  top:10px;
  left:0;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  z-index: 1;
}

.skill, .prj {
  width: 50%;
  float:left;
  margin: 2px;
  padding: 7px;
}

.projects {
  display: flex;
  border-style: none;
}


div {
  border-style: inset;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(209, 239, 253);
}

h2{
  font-family: 'Lobster Two', cursive;
  color: #67ADD9;
  margin: 2px;
}

h3{
  color: #71A5D6;
}

.container{
  border-style: none;
  display: flex;
  justify-content: space-between;
}

/* light to dark
F6F6F8
9DD0DA
71A5D6
67ADD9
1C7ABF */