body{
  font-family: 'Lato', sans-serif;
  margin: auto;
  max-width: 800px;
  color: #424279;
}

.contact {
  color: rgb(116, 185, 224);
  display: flex;
  justify-content: space-around;
  background-color: rgb(209, 239, 253);
  border-radius: 3px;
  margin: 0px;
}

.summary, h5{
  padding: 0.5em;
  margin: 0px;
}

.skill, .prj {
  width: 50%;
  float:left;
  margin: 2px;
  padding: 7px;
}

.skills1, .skills2 {
  display: flex;
  justify-content: space-between;
}

.projects {
  display: flex;
  border-style: none;
}


div {
  border-style: inset;
  border-width: 1px;
  border-radius: 5px;
}

h2{
  font-family: 'Lobster Two', cursive;
  color: #67ADD9;
  margin: 2px;
}

h3{
  color: #71A5D6;
}

h6{
  margin: 6px;
}

/* light to dark
F6F6F8
9DD0DA
71A5D6
67ADD9
1C7ABF */